@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

* {
  font-family: "Special Gothic Expanded One", sans-serif;
  /* border: 1px solid red; */
}

:root {
  --blue: #050647;
  --blue-el: #6a8fb9;
  --white: #ebebeb;
  --pure-white: #fff;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#projects,
#contacts {
  height: 7vh;
}

/* navbar */
.glass {
  background: rgba(5, 6, 71, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(5, 6, 71, 0.3);
}

nav {
  position: fixed !important;
  z-index: 1;
  margin: 0 2.5%;
  width: 95%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

a {
  text-decoration: none !important;
  color: var(--white) !important;
}

li {
  position: relative;
}

li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease;
}

li:hover::after {
  transform: scaleX(1);
}

/* main */
main {
  padding-top: 5rem;
}

.text-sans {
  text-align: justify;
  font-family: sans-serif;
  font-size: large;
}

.card {
  border-radius: 10px !important;
}

.card:hover {
  transform: scale(1.01);
  transition: transform .2s;
}

/* buttons */
button {
  background-color: var(--blue-el) !important;
}

button:hover {
  transform: scale(1.01);
  transition: transform .2s;
}

.btn-social {
  background-color: var(--blue-el);
  padding: 0.5rem;
  border-radius: 10px;
}

.btn-social:hover {
  transform: scale(1.05);
  transition: transform .2s;
}

.go-up {
  border: 1px solid var(--blue-el);
  border-radius: 50%;
  background-color: var(--blue-el);
  z-index: 1000 !important;
  margin-bottom: 170%;
  margin-right: 50%;
}

.go-up:hover {
  transform: scale(1.1);
  transition: transform .2s;
}

.navbar-toggler {
  background-color: transparent !important;
}

/* form */
form input,
textarea {
  border: 1px solid var(--white);
}

/* footer */
footer {
  color: var(--white);
  z-index: 1;
  margin: 0 2.5%;
  width: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* loader */
.spinner {
  --clr: var(--white);
  /* gap between each circle */
  --gap: 6px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.spinner span {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--clr);
  opacity: 0;
}

.spinner span:nth-child(1) {
  animation: fade 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
  animation: fade 1s ease-in-out 0.33s infinite;
}

.spinner span:nth-child(3) {
  animation: fade 1s ease-in-out 0.66s infinite;
}

@keyframes fade {

  0%,
  100% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}